.login{
	md-card-content{
		padding: 	0;
	}
	.login-header{
		background: $primary-blue url("../images/logo-white.png") center no-repeat;
		width: 100%;
		padding: 51px 0;
	}
	form{
		padding: 	70px;
	}
}
.profile-photo-uploader{
	position: relative;
	text-align: center;
	input[type="file"]{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 99;
    cursor: pointer;
	}
	.profile-photo-btn{
		width: 55px;
		height: 55px;
		display: inline-block;
		background: $primary-orange url('../images/icons/upload.svg') center no-repeat;
		background-size: contain;
	  border-radius: 50%;
	}

}
button {
	a{
		color: $white;
	}
}