<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="frontEndApp">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
  <md-toolbar  class="header" layout="row">
      <div class="md-toolbar-tools" flex="75">
        <md-button ng-click="toggleSidenav('left')" hide-gt-sm class="md-icon-button">
         <md-icon md-menu-origin  class="md-icon-button">{{'menu'}}</md-icon>
        </md-button>
          <md-button>
            <md-icon md-menu-origin  class="md-icon-button">{{'account_balance'}}</md-icon>
          </md-button>
        <h1>Logo</h1>
      </div>
      <div flex="5" class="md-menu-demo" ng-controller="notificationDllCtrl as ctrl">
        <div class="menu-demo-container" layout-align="center center" layout="column">
          <md-menu>
            <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="ctrl.openMenu($mdOpenMenu, $event)">
              <span class="notification-num">3</span>
              <md-icon md-menu-origin  class="md-icon-button">{{'notifications'}}</md-icon>
            </md-button>
            <md-menu-content width="4">
              <md-menu-item ng-repeat="item in [1, 2, 3]">
                <md-button ng-click="ctrl.announceClick($index)">
                  <md-icon md-menu-align-target>{{'notifications'}}</md-icon>
                  Notifications {{item}}
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </div>
      </div>
      <md-list >
        <md-list-item ng-class="md-3-line" layout="row">
          <img flex src="images/user.jpg" class="md-avatar" alt=""> 
          <div class="md-list-item-text" layout="column">
            <h5 class="user-name">Hesham Khaled</h5>
          </div>
          <div flex class="md-menu-demo" ng-controller="userDllCtrl as ctrl" ng-cloak>
            <div class="menu-demo-container" layout-align="center center" layout="column">
              <md-menu>
                <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="ctrl.openMenu($mdOpenMenu, $event)">
                  <md-icon md-menu-origin  class="md-icon-button">{{'arrow_drop_down'}}</md-icon>
                </md-button>
                <md-menu-content width="4">
                  <md-menu-item ng-repeat="item in [1, 2, 3]">
                    <md-button ng-click="ctrl.announceClick($index)">
                      <md-icon md-menu-align-target md-svg-icon="call:no-sim"></md-icon>
                      Option {{item}}
                    </md-button>
                  </md-menu-item>
                </md-menu-content>
              </md-menu>
            </div>
          </div>
        </md-list-item>
      </md-list>
  </md-toolbar>
  <div layout="row" flex ng-controller="SideNav" class="dashboard-wrapper">
    <md-sidenav class="md-sidenav-left md-whiteframe-z2"  md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">

        <md-content layout-padding="" ng-controller="LeftCtrl">
         <md-button ng-click="close()" class="md-primary" hide-gt-md="">
           Tablet-mobile view
         </md-button>
            <md-content role="navigation" >
               <md-list ng-repeat="section in data.sidenav.sections">
                <md-list-item ng-click="section.expand = !section.expand">
                  <a href="{{section.url}}" layout="row"  layout-align="left start">
                    <md-icon class="icon-ddl-p" ><img src="images/icons/sidenav/{{section.icon}}.png" alt=""></md-icon>
                    <p class="md-subheader">{{section.name}}</p>
                  </a>
                   <span flex></span>
                   <md-icon class=" md-icon-button" ng-show="section.parent">{{section.expand ? 'arrow_drop_up' : 'arrow_drop_down'}}</md-icon>
                </md-list-item>
                <md-list-item ng-show="section.expand" ng-repeat="action in section.actions" ng-click="toast(action.link)">
                    <a href="{{action.url}}" layout="row"  layout-align="left start">
                     <md-icon class="icon-ddl" ><img src="images/icons/sidenav/{{action.icon}}.png" alt=""></md-icon>
                     <p class="md-body-2">{{action.name}}</p>
                     <!-- <md-icon>chevron_right</md-icon> -->
                   </a>
                </md-list-item>
            </md-content>
              <div class="admin-info" layout="column" layout-align="center center">
                <div flex><img class="circle" src="images/admin.jpg" alt=""></div>
                <div flex>
                  <h3>John Doe</h3>
                  <h5>Adminstrator</h5>
                  <h5>john@example.com</h5>
                  <h5>Tel: +20 333-555-888</h5>
                </div>
              </div>
            </md-list>
        </md-content>
    </md-sidenav>
   <div layout="column" flex id="content">
       <md-content  layout="column" flex class="md-padding ng-view-wrapper">
          <div ng-view="" ></div>
       </md-content>
   </div>
  </div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/approval.js"></script>
        <script src="scripts/controllers/sidenav.js"></script>
        <script src="scripts/controllers/header.js"></script>
        <script src="scripts/controllers/awards.js"></script>
        <script src="scripts/controllers/user-accounts.js"></script>
        <script src="scripts/controllers/submit-logos.js"></script>
        <script src="scripts/controllers/extras.js"></script>
        <script src="scripts/controllers/login.js"></script>
        <!-- endbuild -->
</body>
</html>
