<md-dialog aria-label="Mango (Fruit)"  ng-cloak  >
  <form>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>{{modal.logo.name}}</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon md-menu-origin  class="md-icon-button">{{'close'}}</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content style="max-height:810px; ">
    <div class="md-dialog-content" layout="row" layout-align="center start">
      <img flex="none" src="{{modal.logo.url}}" alt="{{modal.logo.name}}" style="max-width:100%;">
  </md-dialog-content>
  </form>
</md-dialog>
